<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>top-level-items</key>
	<array>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>0</string>
					<key>EndingLineNumber</key>
					<string>1077</string>
					<key>StartingColumnNumber</key>
					<string>0</string>
					<key>StartingLineNumber</key>
					<string>1076</string>
					<key>Timestamp</key>
					<string>736164941.942969</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>FTNT/Consoles.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>                       isHandheld: true,
</string>
				<key>leading</key>
				<string>                       favorites: false,
                       discontinued: true,
</string>
				<key>trailing</key>
				<string>                       isRegionLocked: false),
        ConsoleDetails(imgName: "IQUEDS",
                       jpnName: "",
</string>
			</dict>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>0</string>
					<key>EndingLineNumber</key>
					<string>916</string>
					<key>StartingColumnNumber</key>
					<string>0</string>
					<key>StartingLineNumber</key>
					<string>915</string>
					<key>Timestamp</key>
					<string>736164941.942982</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>FTNT/Consoles.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>                        JPN: October 11th, 2014
</string>
				<key>leading</key>
				<string>                       ReleaseDate:  """
                       US: September 25th, 2015
</string>
				<key>trailing</key>
				<string>                        EU: February 13th, 2015
                       """,
                       Discontinuation: "2017",
</string>
			</dict>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>0</string>
					<key>EndingLineNumber</key>
					<string>752</string>
					<key>StartingColumnNumber</key>
					<string>0</string>
					<key>StartingLineNumber</key>
					<string>751</string>
					<key>Timestamp</key>
					<string>736164941.94294</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>FTNT/Consoles.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>                        Bottom: 3 inch resistive touch screen
</string>
				<key>leading</key>
				<string>                       screenSize: """
                       Top: 3 inch display
</string>
				<key>trailing</key>
				<string>                       """,
                       modelNumber: "USG-001",
                       dims: """
</string>
			</dict>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>0</string>
					<key>EndingLineNumber</key>
					<string>496</string>
					<key>StartingColumnNumber</key>
					<string>0</string>
					<key>StartingLineNumber</key>
					<string>471</string>
					<key>Timestamp</key>
					<string>729878965.11331</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>FTNT/Consoles.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>                       isRegionLocked: true),
        ConsoleDetails(imgName: "topsnes",
                       jpnName: "スーパーファミコン ジュニア",
                       consoleName: "New-Style Super NES",
                       mostSoldGame: "Super Mario World",
                       initialPrice: "$99.95",
                       ReleaseDate: """
                       US: October 1997
                        JPN: March 7th, 1998
                       """,
                       Discontinuation: "1999",
                       category: "Home Consoles",
                       estimatedPricedToday: "$85-250 used depending on condition",
                       cables: "AV cables, AC Adapter",
                       processor: "Ricoh 2A03",
                       modelNumber: "SNS-101",
                       dims: """
                       W: 14\"
                        H: 22\"
                        D: 6\"
                       """,
                       favorites: false,
                       discontinued: true,
                       isHandheld: false,
                       isRegionLocked: true),
</string>
				<key>leading</key>
				<string>                       discontinued: true,
                       isHandheld: false,
</string>
				<key>trailing</key>
				<string>        ConsoleDetails(imgName: "GAMECUBE",
                       jpnName: "ニンテンドーゲームキューブ",
                       consoleName: "Gamecube",
</string>
			</dict>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>27</string>
					<key>EndingLineNumber</key>
					<string>246</string>
					<key>StartingColumnNumber</key>
					<string>7</string>
					<key>StartingLineNumber</key>
					<string>246</string>
					<key>Timestamp</key>
					<string>712700695.622269</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>FTNT/Consoles.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>                favo</string>
				<key>leading</key>
				<string>                       modelNumber: "SL-GC10",
                       dims: "Unknown",
       </string>
				<key>trailing</key>
				<string>rites: false,
                       discontinued: true,
                       isHandheld: false,
</string>
			</dict>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>15</string>
					<key>EndingLineNumber</key>
					<string>194</string>
					<key>StartingColumnNumber</key>
					<string>7</string>
					<key>StartingLineNumber</key>
					<string>194</string>
					<key>Timestamp</key>
					<string>712700705.6701241</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>FTNT/Consoles.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>        </string>
				<key>leading</key>
				<string>                       discontinued: true,
                       isHandheld: false,
       </string>
				<key>trailing</key>
				<string>        isRegionLocked: true),
        ConsoleDetails(imgName: "COMPTG",
                       jpnName: "コンピュータ TV ゲーム",
</string>
			</dict>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>23</string>
					<key>EndingLineNumber</key>
					<string>118</string>
					<key>StartingColumnNumber</key>
					<string>8</string>
					<key>StartingLineNumber</key>
					<string>118</string>
					<key>Timestamp</key>
					<string>712700713.1525199</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>FTNT/Consoles.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>               </string>
				<key>leading</key>
				<string>                       modelNumber: "HEG-001",
                       dims: """
        </string>
				<key>trailing</key>
				<string>W: 9.5\"
                        H: 4\"
                        D: 0.55\"
</string>
			</dict>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>26</string>
					<key>EndingLineNumber</key>
					<string>29</string>
					<key>StartingColumnNumber</key>
					<string>8</string>
					<key>StartingLineNumber</key>
					<string>29</string>
					<key>Timestamp</key>
					<string>712700719.769804</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>FTNT/Consoles.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string></string>
				<key>leading</key>
				<string>    //The consoles list but I'll only put one to save space
    static let categories = Dictionary(grouping: consoles, by: {$0.category})
    </string>
				<key>trailing</key>
				<string>
    static var consoles = [
        //Current Consoles
</string>
			</dict>
			<key>type</key>
			<string>bookmark</string>
		</dict>
	</array>
</dict>
</plist>
